.download {
  background: #000 url("../images/download-background.jpg") center center/cover
    no-repeat;
  &__content {
    max-width: 50rem;
  }

  &__description {
    font-size: 2.4rem;
    margin-top: 2.4rem;
    line-height: 1.6;
    text-align: center;
  }

  &__image img {
    width: 100%;
    max-width: 50rem;
  }

  &__button {
    padding: 1.6rem 3.2rem;

    i {
      margin-right: 0.8rem;
    }
  }
}
