.footer {
  background: $tertiary-color;
  color: #9f9caf;
  font-size: 1.5rem;
  &__title {
    font-size: 1.9rem;
    color: #fff;
    margin-bottom: 0.8rem;
  }

  &__links-link,
  &__social-link {
    color: #9f9caf;
  }

  &__links-link:hover,
  &__social-link:hover {
    color: #fff;
  }
}
