.navbar {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    &-list {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }
  }
}

.hero {
  background: #000 url(../images/header-background.jpg) center center/cover
    no-repeat;
  padding: 18.4rem 3.2rem 12.8rem;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.2rem;
  }
}

.testimonials {
  padding: 10rem 0;
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 5.2rem;
    align-items: center;
    justify-content: center;
  }
}

.features {
  padding: 9.6rem 3.2rem;

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.2rem;

    &-column {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 9.6rem;

      &-right .features__grid-item {
        flex-direction: row-reverse;
        text-align: left;
      }
    }

    &-item {
      display: flex;
      align-items: start;
      justify-content: start;
      text-align: right;
      gap: 2.4rem;
    }
  }
}

.details {
  padding: 14.4rem 3.2rem;

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8rem;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    display: flex;
    flex-wrap: wrap;
    margin-top: 14.4rem;
    gap: 3.2rem;
    justify-content: space-around;
    text-align: center;
  }
}

.screenshots {
  padding: 9.6rem 3.2rem;
  &__container {
    max-width: 120rem;
  }

  &__images {
    display: flex;
    justify-content: space-between;
    gap: 1.6rem;
    flex-wrap: wrap;

    img {
      width: 100%;
      max-width: 20rem;
      margin: 0 auto;
    }
  }
}

.download {
  padding: 18.4rem 3.2rem 12.8rem;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.2rem;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    margin-top: 3.2rem;
  }
}

.footer {
  padding: 6.4rem 3.2rem;
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 9.6rem;
  }

  &__social {
    display: flex;
    gap: 2.4rem;
    justify-content: center;
  }
}

.pricing {
  padding: 6.4rem 3.2rem 9.6rem;
  &__container {
  }

  &__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 3.2rem;
  }
}

.details-features {
  &__list-item {
    display: flex;
    gap: 2.4rem;
    align-items: center;
    margin-bottom: 5.6rem;
    padding: 2.4rem;
    border-radius: 2rem;
  }
}
