.preview {
  background: url("../images/video-background.jpg") center center/cover
    no-repeat;

  &__container {
    padding: 9.6rem 3.2rem;
    text-align: center;
  }

  &__title {
    font-size: 3.6rem;
    margin-bottom: 3.2rem;
    text-transform: uppercase;
  }

  &__description {
    max-width: 60rem;
    margin: 1.6rem auto 6.4rem;
  }

  &__video {
    &-wrapper {
      position: relative;
    }

    &-wrapper img {
      width: 100%;
      max-width: 900px;
      border-radius: 10px;
    }

    &-play-button {
      position: absolute;
      top: 48%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      z-index: 10;
      display: block;
      box-sizing: content-box;
      width: 2rem;
      height: 2.75rem;
      border-radius: 50%;
      cursor: pointer;
      padding: 1.25rem 1.25rem 1.25rem 1.75rem;
    }

    &-play-button::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      z-index: 1;
      background: #00c9db;
      height: 7.375rem;
      width: 7.375rem;
      border-radius: 50%;
      display: block;
      transition: all 200ms;
    }

    &-play-button::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      z-index: 0;
      display: block;
      width: 8.75rem;
      height: 8.75rem;
      background: #00c9db;
      border-radius: 50%;
      animation: pulse-border 1500ms ease-out infinite;
    }

    &-play-button span {
      position: relative;
      display: block;
      z-index: 3;
      top: 0.375rem;
      left: 0.25rem;
      width: 0;
      height: 0;
      border-left: 1.625rem solid #fff;
      border-top: 1rem solid transparent;
      border-bottom: 1rem solid transparent;
    }
  }
}
